
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pointer{
    cursor: pointer;
}
.padding10{
    padding: 10px;
}
.padding20{
    padding: 20px;
}
.full-width{
    width: 100%;
}